@media (max-width: 575px) {
    .button {
        &_call {
        width: 100px;
        height: 20px;
        font-size: 8px;
        font-weight: 700;
        }
        &_main {
            width: 200px;
            height: 35px;
            font-size: 12px;
            font-weight: 500;
        }
    }
}