@media (max-width: 1200px) {
    .carousel {
        height: 650px;
        &__inner {  
            width: 700px;
            height: 100%;
        }
        .slick-slide {
            margin: 20px 20px;
            img {
                width:100%;
            }
        }
    }
}
@media (max-width: 991px) {
    .carousel {
        height: 550px;
        &__inner {
            width: 600px;
            height: 100%;
        }
        .slick-slide {
            margin: 0 40px;
        }
    }
}

@media (max-width: 767px) {
    .carousel {
        height: 600px;
        &__inner {
            width: 100%;
        }
        .slick-slide {
            margin: 0 40px;
        }
        .slick-dots {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                list-style: none;
                margin: 15px 10px;
                button {
                    border-radius: 50%;
                    font-size: 0;
                    width: 15px;
                    height: 15px;
                    background-color: #fff;
                    border: 1px solid rgba(0,0,0,0.5);
                }
            }
            li.slick-active {
                button {
                    background-color: rgba(190,190,190,0.8);
                    border: 1px solid #fff;
                }
            }
    }
    }
}

@media (max-width: 575px) {
    .carousel {
        height: 350px;
        .slick-slide {
            img {
                border-radius: 2%;
            }
        }
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .carousel {
        height: 450px;
    }
}

@media (min-width: 425px) and (max-width: 575px) {
    .carousel {
        height: 550px;
    }
}