@media (max-width: 1200px) {
    .title {
        &_left {
            font-size: 30px;
        }
    }
}

@media (max-width: 767px) {
    .title {
        &_advantages {
            font-size: 25px;
        }
        &_left {
            font-size: 27px;
        }
        &_catalog {
            font-size: 27px;
        }
    }
}
